<!DOCTYPE html>
<html>
<head>
    <title>Daily Update</title>
</head>
<body>
    <h2 style="text-align:center;">Daily Study Update</h2>
    <form style="text-align:center;" onsubmit="saveDaily(); return false;">
        <input type="text" id="date" placeholder="Date" required><br><br>
        <input type="text" id="month" placeholder="Month" required><br><br>
        <input type="text" id="year" placeholder="Year" required><br><br>
        <input type="text" id="hours" placeholder="Hours Studied" required><br><br>
        <input type="text" id="learned" placeholder="What you learned" required><br><br>
        <input type="submit" value="Save">
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
